<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>album</string>
		<key>title</key>
		<string>日常类</string>
		<key>count</key>
		<string>1</string>
		<key>detailURL</key>
		<string>detail01.plist</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>album</string>
		<key>title</key>
		<string>科技类</string>
		<key>count</key>
		<string>1</string>
		<key>detailURL</key>
		<string>detail02.plist</string>
	</dict>
</array>
</plist>
